body {
    background-image: linear-gradient(0deg, rgba(222, 174, 242, 0.51), rgba(239, 231, 176, 0.441)), url(img/background.png);

    /* change to image later */
}

#blog-listings {
    background-color: rgba(37, 18, 50, 0.669);
    width: auto;
    height: auto;
    margin-top: 0 auto;
    padding: 50px;

}

#blog-name {
    color: rgb(44, 6, 66);
    text-align: center;
    font-size: 120px;
    height: 100px;
    margin-top: -10px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
}

.blog-post {
    background-color: rgb(228, 189, 120);
    border: 5px solid rgb(145, 106, 65);
    margin: 0 auto;
    margin-top: 100px;
    width: 834px;
    padding: 20px;
    text-align: justify;
}

.blog-title {
    font-size: 30px;
    font-family: "Zeyada", cursive;
    font-weight: 500;
    font-style: normal;
    margin-top: 18px;
    margin-bottom: -7px;
}

.blog-img {
    object-fit: cover;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    width: 874px;
    height: 40%;
}

.blog-link {
    color: rgb(26, 12, 48);
    font-style: oblique;
}

#blog-logo {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.blog-disc {
    font-size: 15px;
}

.blog-marquee {
    font-size: 25px;
    color: antiquewhite;
    margin-top: 70px;
    margin-left: -70px;
    margin-right: -70px;
    border: 3px solid rosybrown;
}